@import './assets/style/lib/w3.scss';
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}

.sidebar {
  @extend .w3-sidebar, .w3-hide-medium, .w3-hide-small;
  width: 40%;
  &__img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./assets/profile_girl.jpg');
    min-height: 100%;
  }
}